/* Add additional stylesheets below
-------------------------------------------------- */
/*issue #17 Erin*/
 .sideBar{
 display: inline-block;
 vertical-align: top;
 width: 25%;
 }
 #dealButton.deck{
 position: relative;
 left: 20%;
 height: 30%;
 width: 50%;
 }


 #superiorityRulz.howToPlay{
 font-family: sans-serif;
 font-size: 11px;
 }
 ol{
 padding 20px;
 wordwrap: normal;
 }
 ul{
   padding 20px;
   wordwrap: normal;
 }
 /*#testCols{
 margin-left: 25%;
 display: inline-block;
 }*/
 .tableau{
 display: inline-block;
 vertical-align: top;
 width:70%;

 }
 .columnOfCards{
 width: 10%;
 }
 td.cardLocation{

 padding-left: 1%;
 padding-right: 1%;
 }
 th{
 text-align: left;
 }
