/* Add additional stylesheets below
-------------------------------------------------- */
/*issue #17 Erin*/
 .sideBar{
 display: inline-block;
 }
 #dealButton.deck{
 position: relative;
 left: 20px;
 height: 250px;
 width: 175px;
 margin: 20px;
 }


 #superiorityRulz.howToPlay{
 font-family: sans-serif;
 font-size: 10px;
 }
 ol{

 width: 300px;
 padding 20px;
 wordwrap: normal;
 }
 ul{

   width: 300px;
   padding 20px;
   wordwrap: normal;
 }
